{% extends "layout.html" %}

{% block content %}
  <div class="img-back"></div>

  <div class="col-md-4 col-row">
    <form class="fg" action="" method="post">

      <ul class="form-list-g">
        <li>
          <!--<img src="{{ asset('img/ribbon.png') }}" alt="" class="form-ribbon" />-->

          <div class="wrap-ribbons">
            <div class="ribbons-pick"></div>
            <div class="ribbon">
              Elige fecha y lugar
            </div>
            <div class="ribbon-steap">
              Paso 1
            </div>
          </div>

          <div class="form-g">
            <label for="exampleInputEmail1">{{ form_label(form.entrega)}}</label>
            {{ form_widget(form.entrega)}}
          </div>
          <div class="form-g form-g-md">
            <label for="">{{ form_label(form.fechaEntrega)}}</label>
            {{ form_widget(form.fechaEntrega)}}
          </div>
          <div class="form-g form-g-md">
            <label for="">{{ form_label(form.horaEntrega)}}</label>
            {{ form_widget(form.horaEntrega)}}
          </div>
        </li>
        <li>
          <div class="form-g">
            <label for="exampleInputEmail1">{{ form_label(form.devolucion)}}</label>
            {{ form_widget(form.devolucion)}}
          </div>
          <div class="form-g form-g-md">
              <label for="">{{ form_label(form.fechaDevolucion)}}</label>
              {{ form_widget(form.fechaDevolucion)}}
          </div>
          <div class="form-g form-g-md">
              <label for="">{{ form_label(form.horaDevolucion)}}</label>
              {{ form_widget(form.horaDevolucion)}}
          </div>
        </li>
        <div class="form-foot">
          <button type="submit" class="btn btn-default pull-right btn-auto-click">Continuar</button>
            <a class="help-block" href="#">Oficinas principales</a>
        </div>
      </ul>


    </form>
  </div>

{% endblock %}
